---
layout: base.njk
title: Resume - Hanif Suandy
keywords: resume, cv, about, personal, profile, portfolio, hanif suandy
description: Resume of Hanif Suandy
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">I’m a husband to a loving wife and a proud father to a beautiful daughter. With a deep love for technology, I’m always eager to explore new gadgets and experiment with my smart home and home lab setups.</p>

<p class="mb-4">Professionally, I’m a penetration tester working towards my OSCP certification, constantly challenging myself to grow and refine my skills. I enjoy sharing my journey through detailed write-ups on my <a href="https://blog.karthax.ovh">blog</a> of challenges I’ve completed on platforms like Hack The Box, Proving Grounds, and other virtual labs, contributing to the infosec community.</p>

<p class="mb-4">Outside of work, my passions include sports climbing, particularly bouldering, and freeskating—activities that keep me energised and focused. My curiosity for technology and innovation ensures I’m always learning and adapting to the ever-changing tech landscape.</p>