<section>
  <h3 class="font-header font-semibold text-xl uppercase mb-6">
    Work
    <a href="javascript:void(0);" class="link expand-collapse"> [ + ]</a>
  </h3>

  <div class="pb-8">
    <div class="work before:top-0 before:bottom-0 before:left-1/2 before:w-px before:-translate-x-px before:bg-husky-400 before:dark:bg-husky-600 before:block before:absolute before:content-[''] flex flex-col relative">
      {% for item in author.worksFor %}
        
        {% if item.isCurrent === true %}
          {% set current = "current" %}
        {% else %}
          {% set current = "" %}
        {% endif %}

        <div class="work-entry relative w-1/2 py-4 {{ current }}">
          <span class="dot-bg right-0 translate-x-1/2 bg-husky-400 dark:bg-husky-500 top-1/2 -translate-y-1/2 w-14 h-14 transform absolute bg-line inline-flex rounded-full items-center justify-center">
            <span class="dot w-5 h-5 bg-husky-100 dark:bg-husky-800 rounded-full"></span>
          </span>

          <h4 class="link subpixel-antialiased transition-colors duration-150 font-medium">{{ item.companyName }}</h4>

          <h5 class="text-sm font-normal mb-1">
            <a href="javascript:void(0);" class="link toggle-content">[+]</a>
            <a href="javascript:void(0);" class="transition-colors duration-150 font-medium toggle-content"> {{ item.title }}</a>
          </h5>
          
          <div class="job-description hidden">
            {% for jd in item.jd %}
              <li class="text-xs">{{ jd }}</li>
            {% endfor %}
          </div>
          
          <time datetime="{{ item.time_start }}" class="text-sm font-medium opacity-75">{{ item.time_start }}</time> - 
          
          {% if item.isCurrent === true %}
            <span class="text-sm font-medium opacity-75">{{ item.time_end }}</span>
          {% else %}
            <time datetime="{{ item.time_end }}" class="text-sm font-medium opacity-75">{{ item.time_end }}</time>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  // Individual toggle for each job description
  document.querySelectorAll('.toggle-content').forEach(function(link) {
    link.addEventListener('click', function() {
      const workEntry = this.closest('.work-entry');
      const jobDescription = workEntry.querySelector('.job-description');
      jobDescription.classList.toggle('hidden');
    });
  });

  // Expand/Collapse all job descriptions
  const expandCollapseAllButton = document.querySelector('.expand-collapse');
  let allExpanded = false;

  expandCollapseAllButton.addEventListener('click', function() {
    const allJobDescriptions = document.querySelectorAll('.job-description');
    allExpanded = !allExpanded;  // Toggle state

    allJobDescriptions.forEach(function(jobDescription) {
      if (allExpanded) {
        jobDescription.classList.remove('hidden'); // Expand all
      } else {
        jobDescription.classList.add('hidden');   // Collapse all
      }
    });

    // Update the button text accordingly
    expandCollapseAllButton.textContent = allExpanded ? '[ - ]' : '[ + ]';
  });
</script>
